<footer id="footer" class="s-footer">
  <div class="row">
    <div class="columns">
      <div class="earth"></div>
      <p><strong>The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University</strong></p>
      <ul class="icon">
        <li><a href="{{ '/general/access/' | | relative_url }}">Access</a></li>
        <li><a href="{{ '/general/contact/' | | relative_url }}">Contact</a></li>
        <li><a href="https://www.facebook.com/aoyamagsc/" target="_blank"><i class="icon -facebook"></i></a></li>
        <li><a href="https://twitter.com/search?q=%23AoyamaGSC" target="_blank"><i class="icon -twitter"></i></a></li>
      </ul>
      <!--<p>〒252-5258 <a href="https://goo.gl/maps/iCCQ1KVXY852" target="_blank">神奈川県相模原市中央区淵野辺 5-10-1（相模原キャンパス）</a></p
      <p>5-10-1 Fuchinobe, Chuo-ku, Sagamihara, Kanagawa 252-5258, Japan</a><br />&copy; The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</p>>-->
      <!--<p><a href="https://goo.gl/maps/iCCQ1KVXY852" target="_blank">5-10-1 Fuchinobe, Chuo-ku, Sagamihara, Kanagawa 252-5258, Japan</a></p>-->
      <p>5-10-1 Fuchinobe, Chuo-ku, Sagamihara, Kanagawa 252-5258, Japan</p>
    </div>
  </div>
  <div class="ftr_cp">
    &copy; The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
  </div>
</footer>

<!--
<footer id="footer" class="s-footer">
  <div class="row">
    <div class="columns">
      <div class="earth"></div>
      <p><strong>The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University</strong></p>
      <ul>
        <li><a href="{{ '/general/access/' | | relative_url }}">Access</a></li>
        <li><a href="{{ '/general/contact/' | | relative_url }}">Contact</a></li>
      </ul>
      <p><a href="https://goo.gl/maps/iCCQ1KVXY852" target="_blank">5-10-1 Fuchinobe, Chuo-ku, Sagamihara, Kanagawa 252-5258, Japan</a><br />&copy; The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
    </div>
  </div>
</footer>
-->

