<footer id="footer" class="s-footer">
<div class="sns">   
      <ul>
        <li><a href="https://www.facebook.com/aoyamagsc/" target="_blank"><i class="icon -facebook"></i></a></li>
        <li><a href="https://twitter.com/search?q=%23AoyamaGSC" target="_blank"><i class="icon -twitter"></i></a></li>
      </ul>
</div>
<div class="nav">   
        <ul>
        <li><a href="{{ '/general/access/' | | relative_url }}">Access</a></li>
        <li><a href="{{ '/general/contact/' | | relative_url }}">Contact</a></li>
        <li><a href="{{ '/general/sitemap/' | | relative_url }}">Sitemap</a></li>
      </ul>
</div> 
<div class="gsc">
<p><strong>The School of Global Studies and Collaboration (GSC), <span class="blocktext">Aoyama Gakuin University</span></strong></p>
<p><span class="blocktext">5-10-1 Fuchinobe, Chuo-ku, Sagamihara, Kanagawa 252-5258, Japan</span></p>
<p class="copyright">&copy; The School of Global Studies and Collaboration (GSC), Aoyama Gakuin University, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
</div>
</footer>

