---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


/*----- J-LINK ADD START -----*/

/*----- COMMON -----*/

@media screen and (min-width: 120em) {/*1920px以上*/
  #header .row {
    margin-top: 0px !important;
  }
  #header .h-logo {
    margin-left: 0 !important;
    width: 550px !important;
  }
  #header .row nav ul.header_left li {
    background-color: $color_green;
  }
      
  #header .row nav ul.header_left li:hover {
    border-bottom: solid 4px #F2F2F2;
    background-color: $color_green;
  }
  #header .row .columns nav ul.header_right {
    margin-top: -48px !important;
    margin-right: -70px !important;
    width: 280px !important;
    font-family: 'メイリオ', 'Meiryo', sans-serif !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-top: 15px !important;
    margin-right: -10px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 220px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 110px !important;
  }

  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 !important;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: $color_green;
  }

  #footer {
   text-align: center;
   height: 280px !important;
   background-color: $color_white;
  }
  
  #footer p{
    margin: 0 !important;
    padding: 0 !important;
  }

  #footer .sns{
    background-color: #999999;
    height: 68px !important;
  }
  
   #footer .sns li{
    margin-left: 15px;
  }

  #footer .sns i {
    font-size: 40px;
    color: $color_white;
  }

  #footer .icon i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
  
  #footer .nav li{
    margin: 10px 0 0 15px;
    font-size: 130%;
  }
  
  #footer .nav li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
  }
  
  #footer .gsc{
    margin:15px 0 10px 0;
  }
  
  #footer .copyright{
    font-size: 80% !important;
  }
}
  
@media screen and (max-width: 120em) {/*1920px以下*/
  #header .row {
    margin-top: 0px !important;
  }
  #header .h-logo {
    margin-left: 0 !important;
    width: 550px !important;
  }
  #header .row nav ul.header_left li {
    background-color: $color_green;
  }
      
  #header .row nav ul.header_left li:hover {
    border-bottom: solid 4px #F2F2F2;
    background-color: #007d77;
  }
  #header .row .columns nav ul.header_right {
    margin-top: -48px !important;
    margin-right: -70px !important;
    width: 280px !important;
    font-family: 'メイリオ', 'Meiryo', sans-serif !important;
  }
  #header .row .columns nav ul.header_right li {
    margin-top: 15px !important;
    margin-right: -10px !important;
    padding: 0 !important;
    list-style: none !important;
    float: left !important;
    height: 10px !important;
    position: relative !important;
  }
  #header .row .columns nav ul.header_right li.hr1 {
    width: 220px !important;
  }
  #header .row .columns nav ul.header_right li.hr2 {
    width: 110px !important;
  }
  #header .row .columns nav ul.header_right li.hr3 {
    width: 110px !important;
  }


  #header .row .columns nav ul.header_right li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0 !important;
    font-size: 75% !important;
  }
  #header .row .columns nav ul.header_right a i {
    font-size: 165% !important;
  }
  #header .row .columns nav ul.header_right li a:hover {
    color: $color_green;
  }

  #footer {
   text-align: center;
   height: 280px !important;
   background-color: $color_white;
  }
  
  #footer p{
    margin: 0 !important;
    padding: 0 !important;
  }

  #footer .sns{
    background-color: #999999;
    height: 68px !important;
  }
  
   #footer .sns li{
    margin-left: 15px;
  }

  #footer .sns i {
    font-size: 40px;
    color: $color_white;
  }

  #footer .icon i:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
  
  #footer .nav li{
    margin: 20px 0 0 25px;
    font-size: 130%;
  }
  
  #footer .nav li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
  }
  
  #footer .gsc{
    margin:15px 0 10px 0;
  }
  
  #footer .copyright{
    font-size: 80% !important;
  }
}

@media screen and (max-width: 64em) {/*1024px以下*/

  #header .row {
    margin-top: 0 !important;
  }
  #header .row nav {
    position: relative !important;
  }
  #header .row nav ul.header_right {
    position: absolute !important;
    right: 8px !important;
    top: -95px !important;
  }
  
  #header .row .columns nav ul.header_right {
   margin-top: 30px !important;
  }
  
  #footer {
   height: 200px !important;
   background-color: $color_white;
  }
  
}

@media screen and (max-width: 57em) {/*912px以下*/
  #header .row nav {
    position: static !important;
  }
  #header .row nav ul.header_right {
    position: static !important;
    margin-top: 30px !important;
  }
    #footer {
   height: 350px !important;
   background-color: $color_white;
  }
}

@media screen and (max-width: 51em) {/*816px以下*/
  #header .h-logo {
    margin: 0 auto !important;
    width: 70vw !important;
  }
   #footer {
   height: 350px !important;
   background-color: $color_white;
  }
}


/*----- TOPPAGE -----*/

@media screen and (max-width: 120em) {/*1920px以下*/

  /*----- FONT -----*/

  .topic .text a h2:before {
    content: " ";
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 5px;
    background-image: url(./images/link_arrow.png) ;
    background-position: right 1.5px;
    background-size: contain;
    vertical-align: 0px;
  }

  ul.list-pannel li a:hover {
    opacity: 0.9;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  .row .columns .topic a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  ul.list-pannel li a .text p strong {
    line-height: 10px !important;
  }
  
  .facebook, ul.icon {
    margin-left: 10px !important;
  }

  ul.share {
    display: none !important;
  }
}

  #aside ul.list-news a {
    padding: 0 8px 8px 8px !important;
  }
  
  #aside ul.list-news li a p {
    line-height: 1.2em !important;
    font-size: 95% !important;
  }
  
  #aside ul.list-news li{
    border-top: 1px solid #d8d8d8 !important;
  }
  #aside ul.list-news li a p:hover {
    text-decoration: underline;
  }
  
/*----- CONTENTS(第2階層以下全般) -----*/

/*----- FONT -----*/

#main .row .columns ul li a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}


/*----- SIDEMENU -----*/
#aside .list-menu li a{
   font-size: 95% !important;
   color: #555 !important;
}

#aside .list-menu li a:hover {
  text-decoration: underline !important;
}

#aside .list-menu li {
   border-top: solid 1px #d8d8d8 !important;
}

#aside .list-menu li:nth-child(1) {
  border-top: solid 4px #00b5ad !important;
  background-color: #f2f2f2 !important;
}

#aside .list-menu li:nth-child(1) a{
   color: #555 !important;
}

#aside .list-menu li:nth-child(1) a:before {
  background-image: none !important;
  margin-left: -1em !important;
}

#aside .list-menu li:nth-child(n+2) a {
  margin-left: 0.5em !important;
}

#aside .introduction li.campus,
#aside .curriculum li.campus,
#aside .teacher li.campus,
#aside .studyabroad li.campus,
#aside .career li.campus,
#aside .exam li.campus,
#aside .portal4fs li.campus,
#aside .general li.campus {
  display: none !important;
}

/*----- CONTENTS(第2階層のみ) -----*/

/*----- LIST-LINKS -----*/

#main .content-section .row .columns ul.list-links li a:hover {
  text-decoration: underline !important;
}

#main .columns p a:hover {
  text-decoration: underline !important; }

@media screen and (max-width: 120em) {
    /*1920px以下*/

.link-summary a {
    background-color: $color_green;
    border-radius: 2px;
    color: $color_white;
    float: right;
    font-size: 100%;
    margin: 10px 0 20px 0;
    padding: 0 50px;
}
}

@media screen and (max-width: 51em) {
    /*816px以下*/
    
.link-summary a {
    background-color: $color_green;
    border-radius: 2px;
    color: $color_white;
    font-size: 100%;
    margin: 15px 0;
    padding: 15px;
    text-align:center;
    width: 100%;
}
}



/*----- J-LINK2 ADD START -----*/

/*----- グローバルナビ -----*/

#header .gmenu {
    background-color: $color_green;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

#header .gmenu a {
    color: $color_white;
    font-size: 100% !important;
}

/*----- メインビジュアル スライダー -----*/

.slider {
    height: auto;
    max-width: 980px;
    margin: 0 auto;
}

.slide-arrow {
    margin: -15px 0 0 0;
    position: absolute;
    top: 50%;
}

.prev-arrow {
    border-left: 0 solid transparent;
    border-right: 10px solid #DDD;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    left: -30px;
    width: 0;
}

.next-arrow {
    border-right: 0 solid transparent;
    border-left: 10px solid #DDD;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 0;
    right: -30px;
    width: 0;
}

/*----- トピックス  IMGエフェクト-----*/
.imgbounce {
    overflow: hidden;
}

.imgbounce img {
    transition: 0.2s;
}

.imgbounce img:hover {
    -moz: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

/*----- 学部ニュース -----*/

.top-news-area > .columns {
    padding: 0 22px 0 5px !important;
}

h2.top-news {
    color: $color_green;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 5px;
}

video.article-image {
    width: 640px;
}

@media screen and (max-width: 57em) {

    /*912px以下*/
    video.article-image {
        width: 448px;
    }
}

@media screen and (max-width: 40em) {

    /*640px以下*/
    video.article-image {
        width: 320px;
    }
}

@media screen and (max-width: 22em) {

    /*352px以下*/
    video.article-image {
        width: 256px;
    }
}


/*----- 学部ニュース アーカイブ -----*/

.paginator {
    padding: 25px 0 0 0;
    text-align: center;
}

.paginator a {
    color: $color_green;
}

.paginator-box {
    border: solid 1px #999;
    border-radius: 2px;
    padding: 3px 15px;
}

.current {
    background: $color_green;
    color: $color_white;
}

.content-section h2 {
    position: relative;
    border-top: 4px solid #ccc;
}

.content-section h2::after {
    position: absolute;
    top: -4px;
    left: 0;
    /*z-index: 2;*/
    content: '';
    width: 200px;
    height: 4px;
    background-color: #00b5ad;
}

.content-section h2 a:hover {
    text-decoration: underline !important;
    opacity: 0.5;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

.list-sitemap a:hover {
    text-decoration: underline !important;
}

.list-sitemap {
    padding: 0 0 0 25px;
}


/*----- トピックス -----*/

.top-topix-area > .columns {
    padding: 0px !important;
}

.top-topix {
    margin-top: 5px
}

h2.topix-title {
    color: $color_green;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: -10px;
}

.top-topix h3 {
    color: $color_black;
    font-weight: bold;
    font-size: 100% !important;
    padding: 13px 5px 10px 5px;
}

.top-topix p {
    line-height: 120% !important;
    padding: 0px 5px 8px 5px;
}

.top-topix a {
    color: $color_green;
}

.top-topix ul li {
    margin: 0px !important;
    padding: 0 1px 0 1px !important;
}


/*----- 英語版パンフレット -----*/
.pamphlet {
    text-align: center;
}

.pamphlet-icon {
    margin: 8px 0px;
}

h2.pamphlet a {
    color: $color_green;
    font-weight: bold;
    font-size: 120%;
}

/*----- カテゴリータイトル -----*/

#category .row {
    margin-top: 0px;
}

.categorytitle {
    background-image: url(./images/v1/2019/categorytitle.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle2 {
    background-image: url(./images/v1/2019/categorytitle2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle3 {
    background-image: url(./images/v1/2019/categorytitle3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle4 {
    background-image: url(./images/v1/2019/categorytitle4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle5 {
    background-image: url(./images/v1/2019/categorytitle5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle6 {
    background-image: url(./images/v1/2019/categorytitle6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle7 {
    background-image: url(./images/v1/2019/categorytitle7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 170px;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
}

.categorytitle_inner {
    padding: 70px 0 0 20px;
}

.categorytitle_inner h2 {
    color: $color_white;
    font-size: 160%;
    text-shadow:
        black 1px 1px 10px, black -1px 1px 10px,
        black 1px -1px 10px, black -1px -1px 10px;
}


/*-----パンくずリスト-----*/

.list_breadcrumb {
    padding-left: 20px;
}

.list_breadcrumb li {
    background: transparent url("./images/breadcrumb_arrow.gif") 5px center no-repeat;
    color: #444;
    float: left;
    font-size: 90%;
    margin: 8px 0;
    padding: 0 10px 0 25px;
}

.list_breadcrumb li.first {
    background-image: none;
    padding: 0;
}

.list_breadcrumb li a {
    color: #444;
}

.list_breadcrumb li a:hover {
    text-decoration: underline;
    text-decoration-color: $color_black;
}


/*-----コンテンツページ ページタイトル-----*/

.content-header h1 {
    border-top: solid 4px #ddd;
    padding: 15px 0 20px 0;
}

/*-----コンテンツページ リード文-----*/
#main .columns p.lead {
    font-size: 150% !important;
}

.list-links a {
    color: $color_green !important;
}


/*-----コンテンツページ トピックス リンクテキスト-----*/

.content-topix p {
    color: $color_green;
    font-weight: bold;
    background-image: url(./images/link_arrow.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 0 0 0 30px;
}

/*----- トップページコンテンツの並び順指定（640px以下（ -----*/

@media screen and (max-width: 40em) {
    /*640px以下*/

    .row {
        display: flex;
        flex-direction: column;
    }

    .row .item1 {
        order: 2;
    }

    .row .item2 {
        order: 1;
    }
}

/*----- プリント用コンテンツの並び順,非表示 -----*/
@media print {

    html,
    body {
        overflow: visible;
        zoom: 0.6;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .row .item1 {
        order: 2;
    }

    .row .item2 {
        order: 1;
    }

    .m-hamburger_content {
        display: none;
    }

    .site-nav {
        display: none;
    }

    .trigger {
        display: none;
    }

    /* Images */
    img {
        float: left;
        margin: 1em 1.5em 1.5em 0;
        max-width: 100% !important;
    }

    a img {
        border: none;
    }

    @-moz-document url-prefix() {

        /*Firefox 印刷用*/
        .row {
            display: block;
        }
    }
}


/*----- テキスト折り返し調整ー -----*/

.blocktext {
    display: inline-block;
}

/*----- ハンバーガーメニュー スクロール -----*/

@media screen and (max-width: 40em) {
    /*640px以下*/

    .m-hamburger_content {
        overflow-y: scroll;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
}

/*----- ファイル別アイコン表示 外部リンク-----*/
#content .content-section .row .columns p a[class="pop"]:after {
    content: url("./images/icon_popup.gif");
    position: relative;
    bottom: -0.1em;
    margin-left: 0.5em;
}

#content .content-section .row .columns ul li a[class="pop"]:after {
    content: url("./images/icon_popup.gif");
    position: relative;
    bottom: -0.1em;
    margin-left: 0.5em;
}

/*----- ファイル別アイコン表示 PDF-----*/
#content .content-section .row .columns p a[class="pdf"]:after {
    content: url("./images/icon_pdf.gif");
    position: relative;
    bottom: -0.1em;
    margin-left: 0.5em;
}

#content .content-section .row .columns ul li a[class="pdf"]:after {
    content: url("./images/icon_pdf.gif");
    position: relative;
    bottom: -0.1em;
    margin-left: 0.5em;
}