---
layout: default
---
<ul class="slider">
  <li><a href="{{ '/aboutus/' | relative_url }}"><img src="{{ '/assets/images/v1/2019/home_cover_01.jpg' | relative_url }}" alt="About Us"></a></li>
  <li><a href="{{ '/extracurricular/' | relative_url }}"><img src="{{ '/assets/images/v1/2019/home_cover_02.jpg' | relative_url }}" alt="Extracurricular Program"></a></li>
</ul>

<div class="row">
    <div class="top-news-area item1">
        <div class="medium-4 large-4 columns">
            <aside id="aside">
                <h2 class="top-news">News</h2>
                <ul class="list-news">
                    {% for post in site.posts limit:5 %}
                    <li>
                        <a href="{{ post.url | relative_url }}">
                            <span class="date">{{ post.date | date: "%Y.%m.%-d" }}</span>
                            <p>{{ post.title | escape }}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="link-summary"><a href="{{ '/news/' | relative_url }}">View All</a></div>
                <div class="facebook">
                    <div class="fb-page" data-href="https://www.facebook.com/japanstudiesagu/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/japanstudiesagu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/japanstudiesagu/">The School of Global Studies and Collaboration (GSC)</a></blockquote>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- topics-->
    <div class="top-topix-area item2">
        <div class="medium-8 large-8 columns">
            <h2 class="topix-title">Features</h2>
            {{ content }}
            <div class="top-topix">
                <ul class="list-pannel">
                    <li>
                        <div class="image imgbounce">
                            <a href="{{ '/aboutus/' | relative_url }}">
                                <img src="{{ '/assets/images/v1/2019/bn_about_us.jpg' | relative_url }}" alt="About Us"></a>
                        </div>
                        <h3>About Us</h3>
                        <p>text text text text text text text text text text text text text text</p>
                    </li>
                    <li>
                        <div class="image imgbounce">
                            <a href="{{ '/exchange/' | relative_url }}">
                                <img src="{{ '/assets/images/v1/2019/bn_exchange_student _program.jpg' | relative_url }}" alt="Exchange Student Program"></a>
                        </div>
                        <h3>Exchange Student Program</h3>
                        <p>text text text text text text text text text text text text text text</p>
                    </li>
                    <li>
                        <div class="image imgbounce">
                            <a href="{{ '/extracurricular/' | relative_url }}">
                                <img src="{{ '/assets/images/v1/2019/bn_extracurricular_ program.jpg' | relative_url }}" alt="Extracurricular Program"></a>
                        </div>
                        <h3>Extracurricular Program</h3>
                        <p>text text text text text text text text text text text text text text</p>
                    </li>
                    <li>
                        <div class="image imgbounce">
                            <a href="{{ '/support/' | relative_url }}">
                                <img src="{{ '/assets/images/v1/2019/bn_student_support.jpg' | relative_url }}" alt="Student Support"></a>
                        </div>
                        <h3>Student Support</h3>
                        <p>text text text text text text text text text text text text text text</p>
                    </li>
                    <li>
                        <div class="image imgbounce">
                            <a href="{{ '/voice/' | relative_url }}">
                                <img src="{{ '/assets/images/v1/2019/bn_students_voice.jpg' | relative_url }}" alt="Students Voice"></a>
                        </div>
                        <h3>Students Voice</h3>
                        <p>text text text text text text text text text text text text text text</p>
                    </li>
                </ul>
            </div>

            <div class="top-topix pamphlet">
                <h2 class="pamphlet"><a href="assets/docs/2018/gsc_eng2019.pdf" target="_blank">Check out our new pamphlet!</a></h2>
                <p class="pamphlet-icon"><a href="assets/docs/2018/gsc_eng2019.pdf" target="_blank"><img src="assets/images/pdf-2_w30.png" width="30"></a></p>
                <p><a href="assets/images/2018/gsc_eng2019_01_300dpi.jpg" target="_blank"><img src="assets/images/2018/gsc_eng2019_01_h110.jpg"></a>
                    <a href="assets/images/2018/gsc_eng2019_02_300dpi.jpg" target="_blank"><img src="assets/images/2018/gsc_eng2019_02_h110.jpg"></a>
                    <a href="assets/images/2018/gsc_eng2019_03_300dpi.jpg" target="_blank"><img src="assets/images/2018/gsc_eng2019_03_h110.jpg"></a>
                    <a href="assets/images/2018/gsc_eng2019_04_300dpi.jpg" target="_blank"><img src="assets/images/2018/gsc_eng2019_04_h110.jpg"></a>
                    <a href="assets/images/2018/gsc_eng2019_05_300dpi.jpg" target="_blank"><img src="assets/images/2018/gsc_eng2019_05_h110.jpg"></a></p>
            </div>
        </div>
    </div>
    
    </div>
<script type="text/javascript">
$('.slider').slick({
    autoplay:true,
    autoplaySpeed:7000,
    dots:true,
    prevArrow: '<img src="{{ '/assets/images/slide_arrow_left.gif' | relative_url }}" class="slide-arrow prev-arrow">',
    nextArrow: '<img src="{{ '/assets/images/slide_arrow_right.gif' | relative_url }}" class="slide-arrow next-arrow">'
  });
</script>