---
layout: default
---
{% assign category_pages = site.pages | where: "category", page.category |sort: 'sort' %}
{% include category_exchange.html %}
<div class="row">
  <div class="medium-3 large-3 columns">
    <aside id="aside">
     <div class="{{page.category}}">

     {% if category_pages %}
      {{category_pages.length}}
       <ul class="list-menu">
       {% for category_page in category_pages %}
         {% if category_page and category_page.sort  %}
         <li>
           <a href="{{ category_page.url | relative_url }}">
             {{ category_page.title | escape }}
           </a>
         </li>
         {% endif %}
       {% endfor %}
      </ul>
     {% endif %}
     </div>
    </aside>
  </div>
  <div class="medium-9 large-9 columns">
    <section id="content">
      <header class="content-header">
        <div class="row">
          <div class="columns">
            {% assign parent_paths = page.permalink  | replace_first: '/','' | split: '/' %}
            {% assign parent_paths_first = parent_paths | last %}
            {% if page.category != 'general' and page.category != parent_paths_first %}
            {% endif %}
            <h1>{{ page.title | escape }}</h1>
            {% if page.lead %}
            <p class="lead">{{ page.lead | escape }}</p>
            {% endif %}
          </div>
        </div>
      </header>
      <section class="content-section">
          <div class="row">
              <div class="columns">
                  {{ content }}
                  <ul class="students_voice">
                      <!--unit-->
                      <li>
                          <img src="{{ '/assets/images/v1/2019/bn_voice01.jpg' | relative_url }}" alt="">
                          <div class="text">
                              <div class="base">
                                  <p class="name">David COLLIER</p>
                                  <hr class="line">
                                  <p class="credit">Northeastern State University ( U.S.A. )</p>
                              </div>
                              <div class="base2">
                                  <p class="voice2">“Come to Japan…a society that has faced many challenges and overcome them.”</p>
                                  <p class="voice">Studying abroad in Japan was a dream of mine since my freshman year in college. My grandfather told me many stories about Japan; a vibrant country rich in traditions, and I wanted to fully understand that country.<br>

                                      Aoyama Gakuin University proved to be a great place to do that. The classes in Japanese culture helped me understand the beauty in nature and people. These courses also helped me grasp how often we forget the most important aspects of ourselves. Similarly, the classes in Japanese Geography made me realize the diversity of Japan as a nation. Moreover, learning about the Great East Japan earthquake helped me comprehend how resilient the Japanese people are, and the hardships they have overcome.<br>

                                      To those seeking to study abroad in Japan, I would advise them not to choose Japan based on anime or manga. Instead, choose Japan, because of the Japanese people who continue to be vibrant. Come to Japan to understand a society that has faced many challenges and overcome them. Finally, come to Japan so you can experience for yourself how great the Japanese culture is.
                                  </p>
                              </div>
                          </div>
                      </li>
                      <!--/unit-->
                      <!--unit-->
                      <li>
                          <img src="{{ '/assets/images/v1/2019/bn_voice02.jpg' | relative_url }}" alt="">
                          <div class="text">
                              <div class="base">
                                  <p class="name">Anutta SUTARAK</p>
                                  <hr class="line">
                                  <p class="credit">Thammasat University ( Thailand )</p>
                              </div>
                              <div class="base2">
                                  <p class="voice2">“…my experience in Japan will be one of the most precious memories of my life”</p>
                                  <p class="voice">I chose to study at GSC because there is great variety in the courses they offer, such as Culture, History, Economics, Business and Policy, and Geography.<br>

                                      As an exchange student, there are two mandatory courses ("Japanese," and "Japanese Culture and Society"). Other than that, we can enroll in any subject we are interested in. The most interesting for me were classes on Japanese culture. Through these classes, we were able to explore various forms of Japanese culture.<br>
                                      
                                      At GSC, a Japanese "tutor" (someone like a "buddy") is assigned to each exchange student. She or he helps you in everything from studies to your life in Japan. This friendly system really made me feel at home. It was also a great experience to study in the same class with Japanese students, making new friends and practicing Japanese with them.<br>

                                      At GSC, everyone around me made me feel warm and secure. Along with the great GSC staffs, and a very kind advisor, I made many great friends.<br>

                                      I loved everything about my stay at GSC, and I think my one-year experience in Japan will be one of the most precious memories of my life.</p>
                              </div>
                          </div>
                      </li>
                      <!--/unit-->
                      <!--unit-->
                      <li>
                          <img src="{{ '/assets/images/v1/2019/bn_voice03.jpg' | relative_url }}" alt="">
                          <div class="text">
                              <div class="base">
                                  <p class="name">Edzrul ONN</p>
                                  <hr class="line">
                                  <p class="credit">University of Malaya ( Malaysia )</p>
                              </div>
                              <div class="base2">
                                  <p class="voice2">“The GSC experience will make you so much richer than anywhere else can.”</p>
                                  <p class="voice">Hey there. If you're a student thinking about opportunities abroad, or a person who just can't stop thinking about Japan, then please read on because this is for You. For starters, Aoyama Gakuin University (AGU) is about true Japanese culture from start to finish. Believe me when I say that you will get exactly what you see. So what is it that you're getting? Well in AGU, they have fashioned a curriculum that pioneers a synergy of traditional culture and modernization.<br>
                                      Throughout my experience there, lectures have exposed me directly to Japanese Culture through advanced teaching-facilities. There, we were taught by actual Masters, some of whom are as young as we are. But if you're like me and prefer social activities more, don't worry. The School of Global studies and Collaboration (GSC) frequently hosts student activities that let you interact with the locals, specifically designed for international students. So, if I still have your attention, here's my message: I know you don't get many chances when it comes to studying abroad, but from one to the other, do yourself a favor and enroll here. The GSC experience will make you so much richer than anywhere else can.
                                  </p>
                              </div>
                          </div>
                      </li>
                      <!--/unit-->
                      <!--unit-->
                      <li>
                          <img src="{{ '/assets/images/v1/2019/bn_voice04.jpg' | relative_url }}" alt="">
                          <div class="text">
                              <div class="base">
                                  <p class="name">Andrew Hampson</p>
                                  <hr class="line">
                                  <p class="credit">Linfield College ( U.S.A )</p>
                              </div>
                              <div class="base2">
                                  <p class="voice">AGU's Japan Studies Program has provided me with a comprehensive learning experience synthesizing both academic and cultural curricula into one fantastic journey. I was able to achieve personal growth through every experience at AGU, becoming a more well-rounded student and global citizen, as well as give back to the AGU community by sharing my own cultural heritage, language and friendship. I would recommend this program to anyone seeking a challenging learning opportunity, personal growth, friendships, and of course, memories that will last a lifetime. Needless to say, the japan Studies Program has been the highlight of my undergraduate experience.</p>
                              </div>
                          </div>
                      </li>
                      <!--/unit-->
                      <!--unit-->
                      <li>
                          <img src="{{ '/assets/images/v1/2019/bn_voice05.jpg' | relative_url }}" alt="">
                          <div class="text">
                              <div class="base">
                                  <p class="name">Natasha Zamil</p>
                                  <hr class="line">
                                  <p class="credit">University of Malaya ( Malaysia )</p>
                              </div>
                              <div class="base2">
                                  <p class="voice">This student exchange program has shown its impact on me in various ways. I have learnt about numerous cultures and made the most of my opportunities given. I have gained new friends and felt as if I am a local in this country and a part of their culture. I have fallen in love with the environment as it is so lively yet peaceful and convenient. I have found that being an exchange student has been a life changing experience for me. It has made me realize that I can do so much more than I thought was possible. My advice to you would be to take every opportunity, embrace the culture, learn new language and enjoy making new lifelong connections. You will not regret it because I had the time of my life here!</p>
                              </div>
                          </div>
                      </li>
                      <!--/unit-->
              </div>
          </div>
      </section>
      </section>
      </div>
      </div>