---
layout: default
---
{% assign category_pages = site.pages | where: "category", page.category |sort: 'sort' %}
<div class="row">
<div class="medium-3 large-3 columns item1">
    <aside id="aside">
      <p class="title">News</p>
      <ul class="list-news">
        {% for post in site.posts limit:10 %}
          <li>
<a href="{{ post.url | relative_url }}">
              <span class="date">{{ post.date | date: "%Y.%m.%-d" }}</span>
              <p>{{ post.title | escape }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="link-summary"><a href="{{ '/news/' | relative_url }}">News</a></div>
    </aside>
  </div>
  <div class="medium-9 large-9 columns item2">
    <section id="content">
      <header class="content-header">
        <div class="row">
          <div class="columns">
            <h1>{{ page.title | escape }}</h1>
            {% if page.lead %}
            <p class="lead">{{ page.lead | escape }}</p>
            {% endif %}
          </div>
        </div>
      </header>
      <section class="content-section">
        <div class="row">
          <div class="columns">
            {{ content }}
          </div>
        </div>
      </section>
    </section>
  </div>
</div>


